html{
	height: 100%;
	width: 100%;
}

body {
	font-family: Roboto, sans-serif;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0;
}

.container{
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header{
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #333;
}

main{
	width: 100%;

    display: flex;
	justify-content: center;
    flex-wrap: wrap;

    gap: 10px;
}


.project-link {
	padding: 15px 30px;
	text-align: center;
	background-color: #2196F3;

	border-radius: 5px;
	transition: 0.3s;

    cursor: pointer;
}

.project-link > a{
	color: #fff;
	text-decoration: none;
}

.project-link:hover {
	background-color: #0d8bf2;
}
