.cookies{
    position: fixed;
    bottom: 0;
    left: 0 ;
    width: 95%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    opacity: 1;
    transition: 0.5s;
}

.cookies-btn{
    display: flex;
}

.btn{
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.btn.btn-succes{
    background-color: #1E2337;
}

.btn.btn-deny{
    background-color: grey;
}