html{
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Rubik', sans-serif;
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	background-color: hsl(226, 43%, 10%);

	display: flex;
	justify-content: center;
	align-items: center;

}

.container{
	width: 70%;
	height: 500px;

	display: flex;
	border: 1px solid red;
	gap: 40px;

}

.profil{
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
	border: 1px solid green;
	background-color: hsl(235, 46%, 20%);
	color: #fff;
	border-radius: 25px;
}

.profil-profil{
	background-color: hsl(246, 80%, 60%);
	border-radius: 25px;
	height: 70%;
}

.profil-profil > div{
	margin: 10%;
}

.profil-filter{
	display: flex;
	flex-direction: column;
	gap: 25px;

	margin: 10%;
	color: hsl(236, 100%, 87%);
}

.active{
	color: #fff;
}

.profil-filter-element{
	transition: .5s;
	cursor: pointer;
}

.profil-filter-element:hover{
	color: #fff;
}

.dashboard {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
	width: 75%;
	height: 100%;
	color: #fff;
}
  
.dashboard-element {
	flex-basis: calc(33.33% - 40px);
	background-color: hsl(235, 46%, 20%);
	border-radius: 25px;
	width: calc((75% - 40px * 2) / 3);
}
  
.dashboard-element-img-work {
	height: 25%;
	width: 100%;
	background-size:contain;
	background-position: right;
	background-color: hsl(15, 100%, 70%);
	border-radius: 25px 25px 0px 0px;
}

.dashboard-element-img-play {
	height: 25%;
	width: 100%;
	background-size:contain;
	background-position: right;
	background-color: hsl(195, 74%, 62%);
	border-radius: 25px 25px 0px 0px;
}

.dashboard-element-img-study {
	height: 25%;
	width: 100%;
	background-size:contain;
	background-position: right;
	background-color: hsl(348, 100%, 68%);
	border-radius: 25px 25px 0px 0px;
}

.dashboard-element-img-exercice {
	height: 25%;
	width: 100%;
	background-size:contain;
	background-position: right;
	background-color: hsl(145, 58%, 55%);
	border-radius: 25px 25px 0px 0px;
}

.dashboard-element-img-exercice {
	height: 25%;
	width: 100%;
	background-size:contain;
	background-position: right;
	background-color: hsl(145, 58%, 55%);
	border-radius: 25px 25px 0px 0px;
}

.dashboard-element-img-social {
	height: 25%;
	width: 100%;
	background-size:contain;
	background-position: right;
	background-color: hsl(264, 64%, 52%);
	border-radius: 25px 25px 0px 0px;
}

.dashboard-element-img-selcare {
	height: 25%;
	width: 100%;
	background-size:contain;
	background-position: right;
	background-color: hsl(43, 84%, 65%);
	border-radius: 25px 25px 0px 0px;
}


.dashboard-element-header{
	height: 10%;
	border-radius: 25px;
	margin-top: -10px;
	background-color: hsl(235, 46%, 20%);
	z-index: 8;
}

.dashboard-element-main{
	height: 30%;
}

.dashboard-element-footer{
	height: 50%;
}
  
  